
    <header class="art-header">
        <div class="art-slider art-slidecontainerheader" data-width="900" data-height="260">
            <div class="art-slider-inner">
                <div class="art-slide-item art-slideheader0">

                </div>
                <div class="art-slide-item art-slideheader1">

                </div>
                <div class="art-slide-item art-slideheader2">

                </div>

            </div>
        </div>
        <div class="art-slidenavigator art-slidenavigatorheader" data-left="93.33">
            <a href="#" class="art-slidenavigatoritem"></a><a href="#" class="art-slidenavigatoritem"></a><a href="#"
                                                                                                             class="art-slidenavigatoritem"></a>
        </div>


        <div class="art-shapes">

        </div>
        <h1 class="art-headline" data-left="65.65%">
            <a href="#">CHILDHOOD CANCER INITIATIVE</a>
        </h1>

        <h2 class="art-slogan" data-left="57.28%">Nairobi Kenya</h2>


        <div class="art-textblock art-object1443087138" data-left="90%">
            <form class="art-search" name="Search" action="javascript:void(0)">
                <input type="text" value="">
                <input type="submit" value="Search" name="search" class="art-search-button">
            </form>
        </div>


    </header>
    <div class="art-sheet clearfix">
        <div class="art-layout-wrapper">
            <div class="art-content-layout">
                <div class="art-content-layout-row">
                    <div class="art-layout-cell art-sidebar1">
                        <div class="art-vmenublock clearfix">
                            <div class="art-vmenublockheader">
                                <h3 class="t">Quick Links</h3>
                            </div>
                            <div class="art-vmenublockcontent">
                                <ul class="art-vmenu">
                                    <li><a href="about-us.html">Get Involved</a>
                                        <ul>
                                            <li><a href="about-us/mission.html">Volunteer</a></li>
                                            <li><a href="about-us/vision.html">Make a Donation</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="events.html">Events</a>
                                        <ul>
                                            <li><a href="events/current-events.html">Current Events</a></li>
                                            <li><a href="events/up-comming-events.html">Up comming Events</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="departments.html">Advocacy</a></li>
                                    <li><a href="training.html">Archives</a></li>
                                    <li><a href="gallery.html">Gallery</a></li>
                                    <li><a href="contact-us.html">Contact Us</a></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="art-layout-cell art-content">
                        <article class="art-post art-article">

                            <div class="art-postcontent art-postcontent-0 clearfix">
                                <div class="art-content-layout layout-item-0">
                                    <div class="art-content-layout-row">
                                        <div class="art-layout-cell layout-item-1" style="width: 50%">
                                            <p><img width="320" height="213"
                                                    style="margin-top: 7px; margin-right: 7px; margin-bottom: 7px; margin-left: 7px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(184, 219, 254); border-right-color: rgb(184, 219, 254); border-bottom-color: rgb(184, 219, 254); border-left-color: rgb(184, 219, 254); border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; "
                                                    alt="" class="art-lightbox"
                                                    src="images/59750224-873f-49af-bc71-7a78e0e9aa85.png">
                                            </p>

                                            <p>
                                            </p>
                                        </div>
                                        <div class="art-layout-cell layout-item-1" style="width: 50%">
                                            <p><span style="font-weight: bold;">On the first best page &nbsp;welcome your visitors and present your website in the most informative way.</span>
                                            </p>

                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pharetra,
                                                tellus sit amet congue vulputate, nisi erat iaculis nibh, vitae feugiat
                                                sapien ante eget mauris. Cras elit nisl, rhoncus nec iaculis ultricies,
                                                feugiat eget sapien. Pellentesque ac felis tellus. Aenean sollicitudin
                                                imperdiet arcu, vitae dignissim est posuere id. Duis placerat justo eu
                                                nunc interdum ultrices.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="art-content-layout-wrapper layout-item-2">
                                    <div class="art-content-layout">
                                        <div class="art-content-layout-row">
                                            <div class="art-layout-cell layout-item-3" style="width: 100%">
                                                <blockquote style="margin: 0px">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                                                    pharetra, tellus sit amet congue vulputate, nisi erat iaculis nibh,
                                                    vitae feugiat sapien ante eget mauris. Cras elit nisl, rhoncus nec
                                                    iaculis ultricies, feugiat eget sapien.
                                                </blockquote>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="art-content-layout">
                                    <div class="art-content-layout-row">
                                        <div class="art-layout-cell layout-item-1" style="width: 39%">
                                            <h4>Patient Awareness</h4><img alt="" width="207" height="242"
                                                                           src="images/shutterstock_37575403.jpg"
                                                                           class=""><br>
                                            <br>
                                            Pellentesque ac felis tellus. Aenean sollicitudin imperdiet arcu, vitae
                                            dignissim est posuere id. Duis placerat justo eu nunc.<br>
                                            <br>
                                        </div>
                                        <div class="art-layout-cell layout-item-1" style="width: 61%">
                                            <h4>Training Programs</h4><img alt="" width="340" height="242"
                                                                           src="images/shutterstock_24758047.jpg"
                                                                           style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;"
                                                                           class=""><br>
                                            <br>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pharetra,
                                            tellus sit amet congue vulputate, nisi erat iaculis nibh, vitae feugiat
                                            sapien ante eget mauris. Cras elit nisl, rhoncus nec iaculis ultricies.
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </article>
                    </div>
                </div>
            </div>
        </div>
</div>