<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head><!-- Created by Artisteer v4.1.0.59861 -->
    <meta charset="utf-8">
    <title>Departments</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

    <!--[if lt IE 9]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="style.css" media="screen">
    <!--[if lte IE 7]>
    <link rel="stylesheet" href="style.ie7.css" media="screen"/><![endif]-->
    <link rel="stylesheet" href="style.responsive.css" media="all">


    <script src="jquery.js"></script>
    <script src="script.js"></script>
    <script src="script.responsive.js"></script>


    <style>.art-content .art-postcontent-0 .layout-item-0 {
        padding-right: 10px;
        padding-left: 10px;
    }

    .ie7 .art-post .art-layout-cell {
        border: none !important;
        padding: 0 !important;
    }

    .ie6 .art-post .art-layout-cell {
        border: none !important;
        padding: 0 !important;
    }

    </style>
</head>
<body>
<div id="art-main">
    <nav class="art-nav">
        <ul class="art-hmenu">
            <li><a href="home.html" class="">Home</a></li>
            <li><a href="about-us.html" class="">About Us</a>
                <ul class="">
                    <li><a href="about-us/mission.html" class="">Mission</a></li>
                    <li><a href="about-us/vision.html" class="">Vision</a></li>
                </ul>
            </li>
            <li><a href="events.html" class="">Events</a>
                <ul class="">
                    <li><a href="events/current-events.html" class="">Current Events</a></li>
                    <li><a href="events/up-comming-events.html" class="">Up comming Events</a></li>
                </ul>
            </li>
            <li><a href="departments.html" class="active">Departments</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="contact-us.html">Contact Us</a></li>
        </ul>
    </nav>
    <header class="art-header">
        <div class="art-slider art-slidecontainerheader" data-width="900" data-height="260">
            <div class="art-slider-inner">
                <div class="art-slide-item art-slideheader0">

                </div>
                <div class="art-slide-item art-slideheader1">

                </div>
                <div class="art-slide-item art-slideheader2">

                </div>

            </div>
        </div>
        <div class="art-slidenavigator art-slidenavigatorheader" data-left="93.33">
            <a href="#" class="art-slidenavigatoritem"></a><a href="#" class="art-slidenavigatoritem"></a><a href="#"
                                                                                                             class="art-slidenavigatoritem"></a>
        </div>


        <div class="art-shapes">

        </div>
        <h1 class="art-headline" data-left="65.65%">
            <a href="#">CHILD CANCER INITIATIVE</a>
        </h1>

        <h2 class="art-slogan" data-left="57.28%">Nairobi Kenya</h2>


        <div class="art-textblock art-object1443087138" data-left="90%">
            <form class="art-search" name="Search" action="javascript:void(0)">
                <input type="text" value="">
                <input type="submit" value="Search" name="search" class="art-search-button">
            </form>
        </div>


    </header>
    <div class="art-sheet clearfix">
        <div class="art-layout-wrapper">
            <div class="art-content-layout">
                <div class="art-content-layout-row">
                    <div class="art-layout-cell art-sidebar1">
                        <div class="art-vmenublock clearfix">
                            <div class="art-vmenublockheader">
                                <h3 class="t">Navigation</h3>
                            </div>
                            <div class="art-vmenublockcontent">
                                <ul class="art-vmenu">
                                    <li><a href="about-us.html" class="">About Us</a>
                                        <ul class="">
                                            <li><a href="about-us/mission.html" class="">Mission</a></li>
                                            <li><a href="about-us/vision.html" class="">Vision</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="events.html" class="">Events</a>
                                        <ul class="">
                                            <li><a href="events/current-events.html" class="">Current Events</a></li>
                                            <li><a href="events/up-comming-events.html" class="">Up comming Events</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="departments.html" class="active">Departments</a></li>
                                    <li><a href="gallery.html">Gallery</a></li>
                                    <li><a href="training.html">Training</a></li>
                                    <li><a href="contact-us.html">Contact Us</a></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="art-layout-cell art-content">
                        <article class="art-post art-article">
                            <div class="art-postmetadataheader">
                                <h2 class="art-postheader">Departments</h2>

                            </div>
                            <div class="art-postcontent art-postcontent-0 clearfix">
                                <div class="art-content-layout">
                                    <div class="art-content-layout-row">
                                        <div class="art-layout-cell layout-item-0" style="width: 100%">
                                            <p><span style="font-weight: bold;">Present your hospital's departments established by the care, medical or surgical specialties.</span>
                                            </p>

                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pharetra,
                                                tellus sit amet congue vulputate, nisi erat iaculis nibh, vitae feugiat
                                                sapien ante eget mauris.&nbsp;Phasellus elit dolor, porttitor id
                                                consectetur sit amet, posuere id magna.&nbsp;Suspendisse pharetra auctor
                                                pharetra.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="art-content-layout">
                                    <div class="art-content-layout-row">
                                        <div class="art-layout-cell layout-item-0" style="width: 33%">
                                            <ul>
                                                <li>Anesthesiology</li>

                                                <li>Blood Donor Center

                                                    <ul>
                                                        <li>Aortic Wellness Center</li>
                                                    </ul>
                                                </li>

                                                <li>Cardiovascular Medicine

                                                    <ul>
                                                        <li>Clinical Cardiology</li>

                                                        <li>Interventional Cardiology<br/></li>
                                                    </ul>
                                                </li>

                                                <li>Emergency Services</li>

                                                <li>Infusion Center</li>

                                                <li>Clinical Divisions

                                                    <ul>
                                                        <li>Allergy &amp; Immunology</li>

                                                        <li>Critical Care Medicine</li>

                                                        <li>Dermatology</li>

                                                        <li>Endocrinology</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="art-layout-cell layout-item-0" style="width: 34%">
                                            <ul>
                                                <li>Clinical&nbsp;Divisions

                                                    <ul>
                                                        <li>Gastroenterology</li>

                                                        <li>General Internal Medicine<br/>
                                                            Hospitalist Section
                                                        </li>

                                                        <li>HIV Care</li>

                                                        <li>Infectious Diseases</li>

                                                        <li>Nephrology</li>

                                                        <li>Neurology</li>

                                                        <li>Physical Medicine &amp; Rehabilitation</li>

                                                        <li>Pulmonary Medicine</li>

                                                        <li>Rheumatology</li>
                                                    </ul>
                                                </li>

                                                <li>Obstetrics &amp; Gynecology&nbsp;</li>

                                                <li>Ophthalmology</li>
                                            </ul>
                                        </div>
                                        <div class="art-layout-cell layout-item-0" style="width: 33%">
                                            <ul>
                                                <li>Orthopedic Surgery</li>

                                                <li>Otolaryngology / Head<br/>
                                                    &amp; Neck Surgery
                                                </li>

                                                <li>Pathology</li>

                                                <li>Pediatrics</li>

                                                <li>Psychiatry</li>

                                                <li>Radiology</li>

                                                <li>Surgery

                                                    <ul>
                                                        <li>Plastic &amp; Reconstructive Surgery<br/></li>

                                                        <li>Neurosurgery</li>

                                                        <li>Colorectal Surgery</li>

                                                        <li>Bariatric Surgery</li>

                                                        <li>Vascular Surgery</li>
                                                    </ul>
                                                </li>

                                                <li>Urology</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </article>
                    </div>
                </div>
            </div>
        </div>
        <footer class="art-footer">
            <div class="art-content-layout">
                <div class="art-content-layout-row">
                    <div class="art-layout-cell layout-item-0" style="width: 100%">
                        <p>Copyright © 2015, Child cancer initiative. All Rights Reserved.</p>
                    </div>
                </div>
            </div>

        </footer>

    </div>
    <p class="art-page-footer">
        <span id="art-footnote-links"><a href="http://www.artisteer.com/" target="_blank">Web Template</a> created with Artisteer.</span>
    </p>
</div>


</body>
</html>